<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306744525686-7p3d1qtmujd5s1rtblt2taeknj066jun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306744525686-7p3d1qtmujd5s1rtblt2taeknj066jun</string>
	<key>API_KEY</key>
	<string>AIzaSyBvS4WHFZ1SxiA3yj4kt51SxJkCJNWfyhE</string>
	<key>GCM_SENDER_ID</key>
	<string>306744525686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musoft.debrief</string>
	<key>PROJECT_ID</key>
	<string>debrief-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>debrief-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306744525686:ios:54583b304d4756b00fb057</string>
</dict>
</plist>