<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109210365587-k14ajmihb8jg830fcq34fdnnqcl69ei0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109210365587-k14ajmihb8jg830fcq34fdnnqcl69ei0</string>
	<key>API_KEY</key>
	<string>AIzaSyC8JmLync_4FRyti-K0NtFpHfeCSVxld1A</string>
	<key>GCM_SENDER_ID</key>
	<string>109210365587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musoft.debrief</string>
	<key>PROJECT_ID</key>
	<string>musoft-debrief-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>musoft-debrief-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109210365587:ios:6b39a2d29a64cce91d6766</string>
</dict>
</plist>